---
layout: default
title: Home
---

<img src="/public/IMG-20220601-WA0006.jpg" alt="color photo ftl" width="50%" height="auto" />

</p>
  Welcome to my website! 
  My name is Maxime and I am currently a PhD student in Electrochemistry in the <a target="_blank" href="http://https://www.fornercuencaresearch.com/">Electrochemical Materials and Systems</a> in Eindhoven, The Netherlands. 
</p>

</p>
   In my work I focus on the understanding and optimization of the three-dimensional structure of porous electrodes with the aim to design and synthesize next-generation electrodes for electrochemical devices by combining computer simulations and experimental methods. 
</p>

</p>
  On my website you can find the algorithms that we developed and my ongoing projects. Feel free to give the codes a try and if you are interested in a collaboration don't hesitate to contact me!
</p>






<!-- <div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->